.foot {
    padding-top: 1vh;
    height: 30vh;
    width: 100vw;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.foot img {
    width: 8rem;
    height: auto;
}